
.EmailSkeleton {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    padding: 2em;
    padding-top: 0.5em;
    box-sizing: border-box;
    background-color: whitesmoke;
}